@tailwind base;

@layer base {
  h1 {
    @apply text-2xl font-bold;
  }
  h2 {
    @apply text-xl font-bold;
  }
  h3 {
    @apply text-lg;
  }
  a:not(.transparent-link) {
    @apply text-primary underline hover:brightness-90;
  }
  .button:not(.transparent-button, .lk-button, .lk-disconnect-button) {
    @apply btn btn-primary border-none outline-none focus:outline-none focus:border-primary;
  }
  input:not(.input-default){
    @apply input input-primary
  }
}

@tailwind components;
@tailwind utilities;

@layer utilities {
  @variants responsive {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
    }
  }
}

.tw-emoji {
  display: inline;
  padding-right: 1%;
  height: 1.5rem;
}

.transparent-button {
  @apply text-primary hover:brightness-90;
}

.sidebar-icon {
  @apply relative flex items-center justify-center mx-auto
  cursor-pointer text-primary hover:brightness-90;
}
.sidebar-tooltip {
  @apply absolute w-auto p-2 m-2 min-w-max rounded-md shadow-md
  text-white bg-gray-900
  text-xs font-bold
  transition-all duration-100 scale-0 origin-left z-50;
}

.sidebar-top {
  @apply -top-12
}

.sidebar-bottom {
  @apply -bottom-12
}

.sidebar-left {
  @apply -left-44
}

.sidebar-right {
  @apply -right-12
}